[data-theme='catppuccin-macchiato'] {
  --color-bg-base: #181926;
  --color-bg-panel: #1e2030;
  --color-bg-surface: #24273a;
  --color-bg-overlay: #363a4f;
  --color-bg-muted: #1e2030;
  --color-bg-highlight: #494d64;
  --color-text-primary: #cad3f5;
  --color-text-secondary: #b8c0e0;
  --color-text-muted: #8087a2;
  --color-text-inverse: #181926;
  --color-text-link: #8aadf4;
  --color-border-subtle: #494d64;
  --color-border-default: #5b6078;
  --color-border-strong: #b7bdf8;
  --color-accent: #f5a97f;
  --color-accent-hover: #c6a0f6;
  --color-accent-foreground: #181926;
  --color-success: #a6da95;
  --color-success-muted: #243a2a;
  --color-warning: #eed49f;
  --color-warning-muted: #3a321e;
  --color-error: #ed8796;
  --color-error-muted: #3a1e22;
  --color-info: #8aadf4;
  --color-info-muted: #1e2a3a;
  --color-method-get: #a6da95;
  --color-method-post: #8aadf4;
  --color-method-put: #f5a97f;
  --color-method-patch: #8bd5ca;
  --color-method-delete: #ed8796;
  --color-method-head: #c6a0f6;
  --color-method-options: #8087a2;
  --color-method-ws: #eed49f;
  --color-method-sse: #f5bde6;
  --color-method-grpc: #b7bdf8;
  --color-method-graphql: #f0c6c6;
  --color-syntax-keyword: #c6a0f6;
  --color-syntax-string: #a6da95;
  --color-syntax-number: #f5a97f;
  --color-syntax-comment: #8087a2;
  --color-syntax-punctuation: #939ab7;
  --color-syntax-property: #8aadf4;
  --color-syntax-variable: #cad3f5;
  --color-syntax-type: #8bd5ca;
  --color-syntax-operator: #91d7e3;
}
