[data-theme='catppuccin-frappe'] {
  --color-bg-base: #232634;
  --color-bg-panel: #292c3c;
  --color-bg-surface: #303446;
  --color-bg-overlay: #414559;
  --color-bg-muted: #292c3c;
  --color-bg-highlight: #51576d;
  --color-text-primary: #c6d0f5;
  --color-text-secondary: #b5bfe3;
  --color-text-muted: #838ba7;
  --color-text-inverse: #232634;
  --color-text-link: #8caaee;
  --color-border-subtle: #51576d;
  --color-border-default: #626880;
  --color-border-strong: #babfef;
  --color-accent: #ef9f76;
  --color-accent-hover: #ca9ee6;
  --color-accent-foreground: #232634;
  --color-success: #a6d189;
  --color-success-muted: #2d382d;
  --color-warning: #e5c890;
  --color-warning-muted: #3d3423;
  --color-error: #e78284;
  --color-error-muted: #3d2426;
  --color-info: #8caaee;
  --color-info-muted: #232b3d;
  --color-method-get: #a6d189;
  --color-method-post: #8caaee;
  --color-method-put: #ef9f76;
  --color-method-patch: #81c8be;
  --color-method-delete: #e78284;
  --color-method-head: #ca9ee6;
  --color-method-options: #838ba7;
  --color-method-ws: #e5c890;
  --color-method-sse: #f4b8e4;
  --color-method-grpc: #babfef;
  --color-method-graphql: #eebebe;
  --color-syntax-keyword: #ca9ee6;
  --color-syntax-string: #a6d189;
  --color-syntax-number: #ef9f76;
  --color-syntax-comment: #838ba7;
  --color-syntax-punctuation: #949cbb;
  --color-syntax-property: #8caaee;
  --color-syntax-variable: #c6d0f5;
  --color-syntax-type: #81c8be;
  --color-syntax-operator: #99d1db;
}
