[data-theme='catppuccin-latte'] {
  --color-bg-base: #dce0e8;
  --color-bg-panel: #e6e9ef;
  --color-bg-surface: #eff1f5;
  --color-bg-overlay: #ccd0da;
  --color-bg-muted: #e6e9ef;
  --color-bg-highlight: #bcc0cc;
  --color-text-primary: #4c4f69;
  --color-text-secondary: #5c5f77;
  --color-text-muted: #8c8fa1;
  --color-text-inverse: #dce0e8;
  --color-text-link: #1e66f5;
  --color-border-subtle: #bcc0cc;
  --color-border-default: #acb0be;
  --color-border-strong: #7287fd;
  --color-accent: #fe640b;
  --color-accent-hover: #8839ef;
  --color-accent-foreground: #dce0e8;
  --color-success: #40a02b;
  --color-success-muted: #d2e9d2;
  --color-warning: #df8e1d;
  --color-warning-muted: #f9e9d2;
  --color-error: #d20f39;
  --color-error-muted: #f9d2d8;
  --color-info: #1e66f5;
  --color-info-muted: #d2e0f9;
  --color-method-get: #40a02b;
  --color-method-post: #1e66f5;
  --color-method-put: #fe640b;
  --color-method-patch: #179299;
  --color-method-delete: #d20f39;
  --color-method-head: #8839ef;
  --color-method-options: #8c8fa1;
  --color-method-ws: #df8e1d;
  --color-method-sse: #ea76cb;
  --color-method-grpc: #7287fd;
  --color-method-graphql: #dd7878;
  --color-syntax-keyword: #8839ef;
  --color-syntax-string: #40a02b;
  --color-syntax-number: #fe640b;
  --color-syntax-comment: #8c8fa1;
  --color-syntax-punctuation: #7c7f93;
  --color-syntax-property: #1e66f5;
  --color-syntax-variable: #4c4f69;
  --color-syntax-type: #179299;
  --color-syntax-operator: #04a5e5;
}
