[data-theme='catppuccin-mocha'] {
  --color-bg-base: #11111b;
  --color-bg-panel: #181825;
  --color-bg-surface: #1e1e2e;
  --color-bg-overlay: #313244;
  --color-bg-muted: #181825;
  --color-bg-highlight: #45475a;
  --color-text-primary: #cdd6f4;
  --color-text-secondary: #bac2de;
  --color-text-muted: #7f849c;
  --color-text-inverse: #11111b;
  --color-text-link: #89b4fa;
  --color-border-subtle: #45475a;
  --color-border-default: #585b70;
  --color-border-strong: #b4befe;
  --color-accent: #fab387;
  --color-accent-hover: #cba6f7;
  --color-accent-foreground: #11111b;
  --color-success: #a6e3a1;
  --color-success-muted: #1e3b30;
  --color-warning: #f9e2af;
  --color-warning-muted: #332b1a;
  --color-error: #f38ba8;
  --color-error-muted: #3b1a24;
  --color-info: #89b4fa;
  --color-info-muted: #1a2b3b;
  --color-method-get: #a6e3a1;
  --color-method-post: #89b4fa;
  --color-method-put: #fab387;
  --color-method-patch: #94e2d5;
  --color-method-delete: #f38ba8;
  --color-method-head: #cba6f7;
  --color-method-options: #7f849c;
  --color-method-ws: #f9e2af;
  --color-method-sse: #f5c2e7;
  --color-method-grpc: #b4befe;
  --color-method-graphql: #f2cdcd;
  --color-method-trace: #a6adc8;
  --color-syntax-keyword: #cba6f7;
  --color-syntax-string: #a6e3a1;
  --color-syntax-number: #fab387;
  --color-syntax-comment: #7f849c;
  --color-syntax-punctuation: #9399b2;
  --color-syntax-property: #89b4fa;
  --color-syntax-variable: #cdd6f4;
  --color-syntax-type: #94e2d5;
  --color-syntax-operator: #89dceb;
}
