[data-theme='nord'] {
  --color-bg-base: #2e3440;
  --color-bg-panel: #3b4252;
  --color-bg-surface: #434c5e;
  --color-bg-overlay: #4c566a;
  --color-bg-muted: #3b4252;
  --color-bg-highlight: #4c566a;
  --color-text-primary: #eceff4;
  --color-text-secondary: #e5e9f0;
  --color-text-muted: #d8dee9;
  --color-text-inverse: #2e3440;
  --color-text-link: #88c0d0;
  --color-border-subtle: #434c5e;
  --color-border-default: #4c566a;
  --color-border-strong: #81a1c1;
  --color-accent: #ebcb8b;
  --color-accent-hover: #d08770;
  --color-accent-foreground: #2e3440;
  --color-success: #a3be8c;
  --color-success-muted: #2e3d2e;
  --color-warning: #ebcb8b;
  --color-warning-muted: #3d3828;
  --color-error: #bf616a;
  --color-error-muted: #3d2228;
  --color-info: #88c0d0;
  --color-info-muted: #273440;
  --color-method-get: #a3be8c;
  --color-method-post: #81a1c1;
  --color-method-put: #ebcb8b;
  --color-method-patch: #88c0d0;
  --color-method-delete: #bf616a;
  --color-method-head: #b48ead;
  --color-method-options: #d8dee9;
  --color-method-ws: #ebcb8b;
  --color-method-sse: #b48ead;
  --color-method-grpc: #8fbcbb;
  --color-method-graphql: #d08770;
  --color-syntax-keyword: #81a1c1;
  --color-syntax-string: #a3be8c;
  --color-syntax-number: #b48ead;
  --color-syntax-comment: #616e88;
  --color-syntax-punctuation: #eceff4;
  --color-syntax-property: #88c0d0;
  --color-syntax-variable: #eceff4;
  --color-syntax-type: #8fbcbb;
  --color-syntax-operator: #81a1c1;
}
