@import './styles/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes progress-indeterminate {
    0% {
      transform: translateX(-100%);
      width: 30%;
    }
    50% {
      transform: translateX(0%);
      width: 100%;
    }
    100% {
      transform: translateX(100%);
      width: 30%;
    }
  }
  .animate-progress-indeterminate {
    animation: progress-indeterminate 1.5s infinite ease-in-out;
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .animate-slide-in {
    animation: slide-in 150ms ease-out;
  }
}
